@tailwind base;
@tailwind components;
@tailwind utilities;


/* footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* ToolTip CSS */

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.header{
  height: 8vh !important;
}

.main{
  height: 88vh !important;
}

.footer{
  height: 4vh !important;
}

/* Scroll */

.DivWithScroll {
  height:65vh;
  overflow:scroll;
  overflow-x:hidden;
}

.grid2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 2em 2em 2em 2em;
}

.grid2col p{
  margin: 0;
  padding: 0;
  font-size: small;
}

.paddingsinput {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.mapouter {
  padding: 2rem;
  border-radius: 1rem;
}

.buttonspace{
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}

.map {
  background: #eee;
  width: 60vw;
  height: 70vh;
  border-radius: 1rem;
  box-shadow: black 1rem 0.5 solid;
  margin: rem; 
}

.space-from-header{
  margin-top: 12vh;
}

.box {
  background: #eee;
  padding: 2rem;
  width: 20vw;
  height: 70vh;
  border-radius: 1rem;
  box-shadow: black 1rem 0.5 solid;
  margin: auto 2rem;
}

.map {
  width: 70vw;
  height: 70vh;
  border-radius: 1rem;
  box-shadow: black 1rem 0.5 solid;
  /* margin: auto 2rem; */
}

.box h1 {
  font-size: x-large;
  font-weight: bold;
}

.box p{
  font-weight: larger;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0; /* Elimina el margen */
}

input[type=number] {
  appearance: textfield;
}

.centerinpage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.rotate {
  width: 100px;
  animation: rotation 2s infinite linear;
}

.bigtext {
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  margin-top: 2rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

nextjs-portal {
  display: none;
}

.nospace {
  margin-top: 0;
}

.inline{
  display: flex !important;
  flex-direction: row;
}

.inline p{
  margin-right: 1rem;
  font-weight: 500;
  color: #eee;
}

.grid-gap{
  grid-gap: 1rem;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/* leaflet container */
.leaflet-container {
  height: 70vh;
}

.centerContainter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerHijo {
  align-self: center;
  margin-top: 20vh;
}